# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
runClient.launch
runServer.launch
runData.launch

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
README.txt
CREDITS.txt
src.zip
